[mysqld]
character-set-server=utf8
transaction_isolation=READ-COMMITTED
default-authentication-plugin=mysql_native_password
skip-host-cache
skip-name-resolve

innodb_read_io_threads=8
innodb_write_it_threads=8
innodb_open_files=5000
innodb_buffer_pool_size=8589934592
innodb_buffer_pool_instances=4
table_open_cache=5000
innodb_flush_log_at_trx_commit=2
max_connections=1024

innodb_log_compressed_pages=OFF
binlog_format=MIXED
binlog_row_image=MINIMAL